*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(243, 140, 140);
}

.container{
    background: rgb(235, 228, 228);
    height: 80vh;
    width: 40vw;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 5px grey;
}
#luckyNumber ,#dob{
    margin: 1rem 0;
    padding: .5rem;
}
#checkBtn{
    width: 30%;
    height: 10%;
    margin: auto;
    border-radius: 5px;
    color: white;
    background: crimson;
    cursor: pointer;
    border: none;
}

/* query for mobile resposive */

@media only screen and (max-width: 600px){
    .container{
        min-height: 80vh;
        width: 80%;
    }
    .container h1{
        font-size: 20pt;
    }
    #luckyNumber ,#dob{
        width: 100%;
    }
    #checkBtn{
        width: 40%;
        font-weight: bolder;
    }
}